In [1]:
import pandas as pd
df = pd.read_csv("processed2.csv.")
df.head(20)

    Unnamed: 0         DISH_NAME  LIKE          YOUR_NAME
0            0   Chicken Biryani     1      Sanchit Mahto
1            1  Tandoori Chicken     1      Sanchit Mahto
2            2     Chicken Tikka     1      Sanchit Mahto
3            3        Seek Kabob     1      Sanchit Mahto
4            4             Pizza     1      Sanchit Mahto
5            5               KFC     1      Sanchit Mahto
6            6             Pasta    -1      Sanchit Mahto
7            7             Dhosa    -1      Sanchit Mahto
8            8              Idli    -1      Sanchit Mahto
9            9      Sambhar Bada    -1      Sanchit Mahto
10          10      Paneer Pulau    -1      Sanchit Mahto
11          11   Chicken Biryani     1               Moin
12          12             Pizza     1               Moin
13          13               KFC     1               Moin
14          14             Dhosa     1               Moin
15          15              Idli     1               Moin
16          16    Mutton Biryani    -1               Moin
17          17             Pasta    -1               Moin
18          18      Paneer Tikka    -1               Moin
19          19    Mutton Biryani     1  Prashant Maharana

In [2]:
def get_top(df, thr = 15, no = 10):
    df2 = df.groupby("DISH_NAME").LIKE.mean()
    df4 = pd.DataFrame(df2)
    df4["no"] = df.groupby("DISH_NAME").LIKE.count()
    df5 = df4[df4["no"]>thr]
    maxno = df5["no"].max()
    df5["LIKE"] += df5["no"]/maxno -0.2
    
    return df5.sort_values(["LIKE"], ascending = [0]).head(no)
  
get_top(df, thr = 15, no = 10)

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

                      LIKE  no
DISH_NAME
Dhosa             1.710448  67
Pizza             1.307716  59
Pasta             1.251879  58
Paneer Tikka      1.105378  63
Idli              1.036529  59
Chicken Biryani   0.942724  64
Sambhar Bada      0.907051  58
Tandoori Chicken  0.828856  60
Mix Veg           0.746269  50
KFC               0.703590  37

In [3]:
food_matrix = df.pivot_table(index = "YOUR_NAME", columns = "DISH_NAME", values = "LIKE")
# food_matrix.head()

In [4]:
def get_sim(food_matrix ,dish_name, thr = 20, no = 5 ):
    FM_like = food_matrix[dish_name]
    sim_to_FM_like = food_matrix.corrwith(FM_like)
    corr_sim_FM_food = pd.DataFrame(sim_to_FM_like, columns = ["correlation"])
    corr_sim_FM_food.dropna(inplace =True)
    dftemp = df.groupby("DISH_NAME").LIKE.count()
    dftemp = pd.DataFrame(dftemp)
    corr_sim_FM_food = corr_sim_FM_food.merge(dftemp , on="DISH_NAME")
    
    corr_sim_FM_food =   corr_sim_FM_food[corr_sim_FM_food["LIKE"]>thr]
    return corr_sim_FM_food.sort_values(by="correlation", ascending = False).head(no)

get_sim(food_matrix ,"Chicken Biryani", thr = 20, no = 5 )

C:\Users\DELL\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2522: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\DELL\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                  correlation  LIKE
DISH_NAME
Chicken Biryani      1.000000    64
Chicken Tikka        1.000000    53
Tandoori Chicken     1.000000    60
Seek Kabob           0.941660    45
Mutton Biryani       0.795767    54

In [8]:
def get_sim_user_reviews(df, food_matrix, Your_Name, thr =20):
    F_user  = food_matrix.loc[Your_Name]
    sim_to_F = food_matrix.corrwith(F_user, axis = 1)
    sim_to_F = pd.DataFrame(sim_to_F, columns = ["correlation"])
    sim_to_F.dropna(inplace= True)
    coUsers = df.groupby("YOUR_NAME").LIKE.count()
    coUsers = pd.DataFrame(coUsers)
  
    sim_to_F =  sim_to_F.join(coUsers)
    
    sim_to_F     = sim_to_F[ sim_to_F["LIKE"]>thr]
    
    sim_to_F = sim_to_F.sort_values(by="correlation", ascending = False)
    
    
    

    return sim_to_F
get_sim_user_reviews(df, food_matrix ,"Moin",thr =20)

                  correlation  LIKE
YOUR_NAME
Bhupesh kr Patel     0.500000    22
Deepika              0.213201    30

In [2]:
import pandas as pd
df = pd.read_csv("processed2.csv")
df.head()

   Unnamed: 0         DISH_NAME  LIKE      YOUR_NAME
0           0   Chicken Biryani     1  Sanchit Mahto
1           1  Tandoori Chicken     1  Sanchit Mahto
2           2     Chicken Tikka     1  Sanchit Mahto
3           3        Seek Kabob     1  Sanchit Mahto
4           4             Pizza     1  Sanchit Mahto

In [12]:
def get_top_rated(df , thr= 20, no= 10):
    df2 = df.groupby("DISH_NAME").LIKE.mean()
    df2 = pd.DataFrame(df2)
    df2["NO"] = df.groupby("DISH_NAME").LIKE.count()
    df2 =  df2[ df2["NO"]>thr]
    
    return df2.sort_values(by= "LIKE" ,ascending = False).head(no)

get_top_rated(df, thr = 20, no = 10)

                      LIKE  NO
DISH_NAME
Dhosa             0.910448  67
Pizza             0.627119  59
Pasta             0.586207  58
Paneer Tikka      0.365079  63
Idli              0.355932  59
KFC               0.351351  37
Sambhar Bada      0.241379  58
Mix Veg           0.200000  50
Chicken Biryani   0.187500  64
Tandoori Chicken  0.133333  60

In [21]:
def get_top(df, thr = 15, no = 10):
    df2 = df.groupby("DISH_NAME").LIKE.mean()
    df4 = pd.DataFrame(df2)
    df4["no"] = df.groupby("DISH_NAME").LIKE.count()
    df5 = df4[df4["no"]>thr]
    maxno = df5["no"].max()
    df5["LIKE"] += df5["no"]/maxno -0.2
    
    return df5.sort_values(["LIKE"], ascending = [0]).head(no)
  
get_top(df, thr = 15, no = 10)

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

                      LIKE  no
DISH_NAME
Dhosa             1.710448  67
Pizza             1.307716  59
Pasta             1.251879  58
Paneer Tikka      1.105378  63
Idli              1.036529  59
Chicken Biryani   0.942724  64
Sambhar Bada      0.907051  58
Tandoori Chicken  0.828856  60
Mix Veg           0.746269  50
KFC               0.703590  37

In [20]:
def get_curated(df, thr = 20, no =10):
    df3 = df.groupby("DISH_NAME").LIKE.mean()
    df3 = pd.DataFrame(df3)
    df3["NO"] = df.groupby("DISH_NAME").LIKE.count()
    df3 =   df3[df3["NO"]>thr]
    maxno = df3["NO"].max()
    
    df3["LIKE"]+= df3["NO"]/maxno -0.2
    
    return df3.sort_values(by = "LIKE", ascending  = False).head(no)
get_curated(df)

                      LIKE  NO
DISH_NAME
Dhosa             1.710448  67
Pizza             1.307716  59
Pasta             1.251879  58
Paneer Tikka      1.105378  63
Idli              1.036529  59
Chicken Biryani   0.942724  64
Sambhar Bada      0.907051  58
Tandoori Chicken  0.828856  60
Mix Veg           0.746269  50
KFC               0.703590  37

In [23]:
food_metrics = df.pivot_table(index = "YOUR_NAME", columns = "DISH_NAME", values = "LIKE")

In [43]:
def get_sim(food_metrics , food_name, thr = 20, no = 10):
    F_Name = food_metrics[food_name]
    Sim_Food = food_metrics.corrwith(F_Name)
    df5 = pd.DataFrame(Sim_Food, columns = ["correlation"])
    temp_df = df.groupby("DISH_NAME").LIKE.count()
    temp_df = pd.DataFrame(temp_df)
    df5 = df5.merge(temp_df, on ="DISH_NAME")
    df5.dropna(inplace =True)
    df5  =   df5[df5["LIKE"]>thr]
    return df5.sort_values(by= "correlation",ascending = False).head(no)
get_sim(food_metrics , "Chicken Biryani", thr = 20, no = 10)

                  correlation  LIKE
DISH_NAME
Chicken Biryani      1.000000    64
Chicken Tikka        1.000000    53
Tandoori Chicken     1.000000    60
Seek Kabob           0.941660    45
Mutton Biryani       0.795767    54
KFC                  0.380431    37
Pizza                0.077290    59
Sambhar Bada        -0.137243    58
Dhosa               -0.230551    67
Paneer Tikka        -0.335661    63

In [71]:
def  get_sim_user (df,food_metrics, uid, thr = 20):
    user_f = food_metrics.loc[uid]
    similar_user = food_metrics.corrwith(user_f, axis = 1)
    df6 = pd.DataFrame(similar_user)
    df6.dropna(inplace = True)
    coUsers = df.groupby("YOUR_NAME").LIKE.count()
    coUsers = pd.DataFrame(coUsers )
    coUsers.columns = ["no"]
    df6 = df6.join(coUsers["no"])
    return df6

In [72]:
def get_sim_user_top_rated(df, food_metrics, uid, thr=20):
    newDf = get_sim_user(df, food_metrics, uid, thr=20)
    return get_top_rated(newDf, 10, 10)

In [75]:
get_sim_user_top_rated(df, food_metrics, 6)

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [6] of <class 'int'>